<!doctype html>
<html><head>
    <title>Food planner v1</title>
    <link rel="shortcut icon" href="/images/logo.png">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



    <link href="/stylesheets/style2.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
<script src="/javascripts/Controller/PlanningCtrl.js"></script>
<script src="/javascripts/Controller/NavCtrl.js"></script>
<script src="/javascripts/Controller/1planningCtrl.js"></script>
<script src="/javascripts/Controller/ajouterrecetteCtrl.js"></script>
<script src="/javascripts/Controller/AuthCtrl.js"></script>
<script src="/javascripts/Controller/ContactCtrl.js"></script>
<script src="/javascripts/Controller/IndexCtrl.js"></script>
<script src="/javascripts/Controller/IngredientsdisposCtrl.js"></script>
<script src="/javascripts/Controller/MainCtrl.js"></script>
<script src="/javascripts/Controller/MesplanningsCtrl.js"></script>
<script src="/javascripts/Controller/ModalInstance2Ctrl.js"></script>
<script src="/javascripts/Controller/ModalInstanceCtrl.js"></script>
<script src="/javascripts/Controller/RecettesCtrl.js"></script>
<script src="/javascripts/Controller/RecettestestCtrl.js"></script>
<script src="/javascripts/Controller/ListedecoursesCtrl.js"></script>
<script src="/javascripts/Controller/ModalajoutlistedecoursesCtrl.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js"></script>

 	   <script type="text/javascript" src="/javascripts/transition.js"></script>
   <script type="text/javascript" src="/javascripts/collapse.js"></script>   
    <script src="https://rawgit.com/fordth/jinqJs/master/jinqjs.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/datetimepicker.js"></script>
  <script type="text/javascript" src="/javascripts/datetimepicker.templates.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="/javascripts/angular-locale_fr-fr.js"></script>
	<script src="/javascripts/Chart.min.js"></script>
	<script src="/javascripts/angular-chart.min.js"></script>
          <!-- icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
          <!-- slider -->
              <script src="/javascripts/main.js"></script>


          <!-- tooltip -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});

</script>

<!--filestack widget-->
    <script src="/javascripts/filepicker.js"></script>
    <script src="/javascripts/angular_filepicker.js"></script>

      <link rel="stylesheet" href="/stylesheets/datetimepicker.css">
    <style> .fa-thumbs-up { cursor:pointer } </style>
    <style> .fa-remove { cursor:pointer } </style>
    <style> .fa-plus { cursor:pointer } </style>
    <style> .fa-pencil { cursor:pointer } </style>
    <style> .fa-random { cursor:pointer } </style>
  </head>
  <body ng-app="foodplanner">


     <div ui-view="menu"> </div>    
     <div style="background-color: #F8F8FF" ui-view="page"> </div>

<footer class="footer" id="footer">

  <div  class="container"> <style>.dark-primary-color</style>
    <p class="text-right">Copyright © On dîne quoi? 2017</p>
  </div>
</footer>



  
</body></html>