<html>
  <head>
    <title>Food planner v1</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style2.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script src="https://rawgit.com/fordth/jinqJs/master/jinqjs.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.14/angular-filter.js"></script>

        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
          <!-- slider -->
              <script src="/javascripts/main.js"></script>

<!--filestack widget-->
    <script src="/javascripts/filepicker.js"></script>
    <script src="/javascripts/angular_filepicker.js"></script>

    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    <style> .glyphicon-remove { cursor:pointer } </style>
    <style> .glyphicon-plus { cursor:pointer } </style>
    <style> .glyphicon-pencil { cursor:pointer } </style>
  </head>
  <body ng-app="foodplanner">

     <div class="row"> 
     <div ui-view ="menu"> </div>     </div>
      
      <div ui-view="page"> </div>










          <!-- Menu en haut de la page -->

    <script type="text/ng-template" id="/menu.html" >
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#/index">On dine quoi?</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <li ng-class="{active: $state.current.name == 'home'}"><a href="#/recettes">Recettes</a></li>
              <li ng-class="{active: $state.current.name == 'ingredientsdispos'}"><a href="#/ingredientsdispos">Ingredients</a></li>
              <li ng-class="{active: $state.current.name == 'planning'}"><a href="#/planning">Planning</a></li>  
            </ul>
            <ul class="nav navbar-nav navbar-right">            
              <li ng-show="isLoggedIn()"><a>Bienvenu {{ currentUser() }}!</a></li>
              <li ng-hide="isLoggedIn()" ng-class="{active: $state.current.name == 'register'}"><a href="#/register">S'inscrire</a></li>    
              <li ng-hide="isLoggedIn()" ng-class="{active: $state.current.name == 'login'}"><a href="#/login">Se connecter</a></li>   
              <li ng-show="isLoggedIn()" ng-class="{active: $state.current.name == 'login'}"><a href="" ng-click="logOut()">Se déconnecter</a></li>                            
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </script>













          <!-- Liste des recettes et home -->

     <script type="text/ng-template" id="/recettes.html">

         <div class="page-header"> <br>
          <h1>Liste des recettes</h1>
          
        </div>
      <br><br>   <a class="btn btn-primary" href="#/ajouterrecette"> Ajoute ta recette! </a><br><br>




      <table class="table"> 
        <tr>
          <td> Nom de recette </td>
          <td> temps de préparation </td>
          <td> temps de cuisson </td>
          <td>  </td>
        <tr ng-repeat="recette in recettes | orderBy :'-upvotes'">
          <td><img ng-src="{{recette.picture}}" class="thumbnailperso" ng-show="recette.picture"> <a href ="#/recettes/{{recette._id}}">{{recette.nomr}}</a></td>
          <td>{{recette.tempsdepreparation}}</td>
          <td>{{recette.tempsdecuisson}}</td>
          <td> <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes (recette)"></span>
            {{recette.upvotes}} 
            <span class="glyphicon glyphicon-remove" ng-click="supprimerRecette(recette)"></span>
            <span ng-show="recette.author">
            posted by <a>{{recette.author}}</a>
            </span>
           </td>
        </tr>
      </table>
      <br><br><br>
 



  
    
     </script>






          <!-- Liste des ingredients disponible -->

     <script type="text/ng-template" id="/ingredientsdispos.html">
         <div class="page-header"> <br> 
          <h1>Liste des ingredients</h1>
        </div>
        <form ng-submit="ajouterIngredientsdispo()" style="margin-top:30px;">
    <h3>Ajouter un nouvel ingredient</h3>
      <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nom de l'ingredient" ng-model="nomid"/>
         </div> 
          <input type="text" class="form-control" placeholder="rayon" ng-model="rayon "/>
        <div class="form-group">  
        </div>
        </div>
        <div class="col-lg-6">
         <div class="form-group"> 
          <input type="text" class="form-control" placeholder="unité" ng-model="unite"/>
        </div>
        <div class="form-group">   
           <button type="submit" class="btn btn-primary"> Ajoute ton ingredient! </button>
         </div>
        </div> 
      </div>
      </form>
      <table class="table"> 
        <tr>
          <td> Nom de l'ingredient </td>
          <td> Rayons </td>
          <td> Unité </td>
          <td>  </td>
        <tr ng-repeat="ingredientsdispo in ingredientsdispos | orderBy :'nomid'">
          <td>{{ingredientsdispo.nomid}}</a></td>
          <td>{{ingredientsdispo.rayon}}</td>
          <td>{{ingredientsdispo.unite}}</td>
          <td> 
            <span class="glyphicon glyphicon-remove" ng-click="supprimerIngredientsdispos(ingredientsdispo)"></span>
           </td>
        </tr>
      </table>
      <br><br><br>
 
    
     </script>











          <!-- Page d'ajout de recette -->

     <script type="text/ng-template" id="/ajouterrecette.html">

      <div class="page-header"> <br>
          <h1>Ajouter une recette</h1>
          
        </div>



        <form ng-submit="ajouterRecette()" style="margin-top:30px;">
          <div class="row">
           <div class="col-lg-6">
             <div class="form-group">
              <input type="text" class="form-control" placeholder="Nom de la recette" ng-model="nomr"/>
             </div> 
             <div class="form-group">  
              <textarea type="text"  class="form-control" rows="12" placeholder="instructions" ng-model="instructions "> </textarea>
             </div>
            </div>
            <div class="col-lg-6">
             <div class="form-group"> 
              <input type="number" class="form-control" placeholder="Temps de cuission" ng-model="tempsdecuisson"/>
             </div>
             <div class="form-group">         
              <input type="number" class="form-control" placeholder="Temps de préparation" ng-model="tempsdepreparation"/>
             </div><BR>
             <div class="form-group">
                <label for="picture">Photo:</label>
                 <div class="text-center">
                   <button type="button" class="btn btn-default" ng-click="upload()">
                            Upload <span class="caret"></span>
                        </button>
                        <div style="margin-top:10px;">
                            <!-- Show the thumbnail only when the picture is uploaded -->
                            <a href="{{infophoto.url}}" class="thumbnailperso" ng-show="infophoto.url">
                            <!-- the picture is rendered with width: 500 and sharpened -->
                            <img ng-src="{{infophoto.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>                  
                    </div>
                </div>

            </div> 
           </div> 

<br>

       <div class="row">
        <div class="form-group">
         <div class="col-lg-6">
           <table class="table" for="ingredients"> 
              <tr>
                <td> nombre </td>
                 <td> unite </td>
                <td> ingredient </td>
                <td></td>
              </tr>
              <tr ng-repeat="ingredient in ingredients | orderBy:'nomid'">
                <td> 
                 <span ng-hide="ingredient.editing" ng-dblclick="editIngredient(ingredient)">{{ingredient.nombre}}</span>
                 <input ng-show="ingredient.editing" ng-model="ingredient.nombre" ng-blur="doneEditing(ingredient)" autofocus />
                </td>
                <td> {{ingredient.unite}}</td>
                <td> {{ingredient.nomid}}</td>

                <td><span class="glyphicon glyphicon-remove" ng-click="supprimerIngredient(ingredient)"></span>
                <span class="glyphicon glyphicon-pencil" ng-click="editIngredient(ingredient)"></span></td>

                </tr>
              </table>
                 </div>
            </div> 
           </div> 
                           <div class="form-group">   
                   <button type="submit" class="btn btn-primary"> Sauvegarder </button>
                 </div>
      </form>    



         </div>
        <div class="col-lg-6"> 
         </form>       
          <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>

              <input type="text" class="form-control" placeholder="Rechercher ingredient" ng-model="rechercheIngredientsdispo">

            </div>      
          </div>
        </form>
        <table class="table"> 
        <tr>
          <td> Nom de l'ingredient </td>
          <td> Rayons </td>
          <td> Unité </td>
          <td>  </td>
         </tr>         
        <tr ng-repeat="ingredientsdispo in ingredientsdispos | orderBy :'nomid' | filter:rechercheIngredientsdispo">
          <td>{{ingredientsdispo.nomid}}</td>
          <td>{{ingredientsdispo.rayon}}</td>
          <td>{{ingredientsdispo.unite}}</td>
          <td> 
            <span class="glyphicon glyphicon-plus" ng-click="addtorecette(ingredientsdispo)"></span>
           </td>
        </tr>
      </table>  

         </div>
           </div>      

    
      </script>






          <!-- Liste des ingredients d'une recette -->


     <script type="text/ng-template" id="/recette.html">
        <div class="page-header">
        <br><br>
          <h1>
             {{recette.nomr}} 
            
          </h1>
          by {{recette.author}}
        </div>

       <div class="row">
        <div class="col-lg-6"> 
          <img ng-src="{{recette.picture}}" class="photodescriptionrecette" ng-show="recette.picture"> <br>  <br> 
        </div>
         <div class="col-lg-6"> 
         <h4 ng-show="recette.instructions"> instruction: </h4>
         {{recette.instructions}}<br>
         <h4 ng-show="recette.tempsdecuisson"> temps de cuisson:</h4>
         <div ng-show="recette.tempsdecuisson"> {{recette.tempsdecuisson}} minutes</div> 
         <h4 ng-show="recette.tempsdepreparation">  temps de préparation:</h4>
         <div ng-show="recette.tempsdepreparation"> {{recette.tempsdepreparation}} minutes  </div>  <br>  
        </div>
       </div>
       <div class="row">
        <div class="col-lg-6">
        <table class="table"> 
        <tr>
          <td> nombre </td>
           <td> unite </td>
          <td> ingredient </td>
          <td></span></td>
        </tr>
        <tr ng-repeat="ingredient in recette.ingredients | orderBy:'nomi'">
          <td> 
           <span ng-hide="ingredient.editing" ng-dblclick="editIngredient(ingredient)">{{ingredient.nombre}}</span>
           <input ng-show="ingredient.editing" ng-model="ingredient.nombre" ng-blur="doneEditing(ingredient)" autofocus />
          </td>
          <td> {{ingredient.unite}}</td>
          <td> {{ingredient.nomi}}</td>

          <td><span class="glyphicon glyphicon-remove" ng-click="supprimerIngredient(ingredient)"></span>
          <span class="glyphicon glyphicon-pencil" ng-click="editIngredient(ingredient)"></span></td>

          </tr>
        </table>      

          </div>
        <div class="col-lg-6"> 
             
          <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>

              <input type="text" class="form-control" placeholder="Rechercher ingredient" ng-model="rechercheIngredientsdispo">

            </div>      
          </div>
        </form>
        <table class="table"> 
        <tr>
          <td> Nom de l'ingredient </td>
          <td> Rayons </td>
          <td> Unité </td>
          <td>  </td>
        <tr ng-repeat="ingredientsdispo in ingredientsdispos | orderBy :'nomid' | filter:rechercheIngredientsdispo">
          <td>{{ingredientsdispo.nomid}}</a></td>
          <td>{{ingredientsdispo.rayon}}</td>
          <td>{{ingredientsdispo.unite}}</td>
          <td> 
            <span class="glyphicon glyphicon-plus" ng-click="addtorecette(ingredientsdispo)"></span>
           </td>
        </tr>
      </table>  

         </div>
        </div>  
      </script>

















          <!-- planning -->

     <script type="text/ng-template" id="/planning.html">
         <div class="page-header">
         <br>
          <h1>Planning</h1>
        </div>
        <button ng-click=genererplanning(recettes) class="btn btn-primary"> Créer planning aléatoire! </button>





          <!-- test d'edition des recettes 
<div ng-repeat="planningrecette in planningrecettes">
 <span ng-hide="planningrecette.editing" ng-dblclick="editRepas(planningrecette)">{{planningrecettes[0].nomr}}</span>
  <input ng-show="planningrecette.editing" ng-model="planningrecettes[0].nomr" ng-blur="doneEditingRepas(planningrecette)" autofocus />
</div>

{{planningrecettes}}
-->

    <form   ng-submit="validernombrepersonnes()">
      <table class="table"> 
        <tr>
          <th>  </th>
          <th> Lundi </th>
          <th> Mardi </th>
          <th> Mercredi </th>
          <th> Jeudi </th>
          <th> Vendredi </th>
          <th> Samedi </th>
          <th> Dimanche </th>
        </tr>
        <tr>
          <th>Midi</th>     
          <td>
          <span ng-show="repaspresent0">{{planningrecettes[0].nomr}}</span> <span ng-show="repaspresent0" class="glyphicon glyphicon-pencil" ng-click="open(0)"></span>     
           <br> pour 
            <select class="form-control" ng-init="repaspresent0 = 0" ng-model="repaspresent0" ng-options="values.indexOf(repaspresent0) as repaspresent0 for repaspresent0 in values"></select>
            personnes
          </td>
          <td>
          <span ng-show="repaspresent1">{{planningrecettes[1].nomr}}</span>   <span ng-show="repaspresent1" class="glyphicon glyphicon-pencil" ng-click="open(1)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent1 = 0" ng-model="repaspresent1" ng-options="values.indexOf(repaspresent1) as repaspresent1 for repaspresent1 in values"></select>personnes
          </td>
          <td>
          <span ng-show="repaspresent2">{{planningrecettes[2].nomr}}</span><span ng-show="repaspresent2" class="glyphicon glyphicon-pencil" ng-click="open(2)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent2 = 0" ng-model="repaspresent2" ng-options="values.indexOf(repaspresent2) as repaspresent2 for repaspresent2 in values"></select> personnes
          </td>
          <td>
          <span ng-show="repaspresent3">{{planningrecettes[3].nomr}}</span><span ng-show="repaspresent3" class="glyphicon glyphicon-pencil" ng-click="open(3)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent3 = 0" ng-model="repaspresent3" ng-options="values.indexOf(repaspresent3) as repaspresent3 for repaspresent3 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent4">{{planningrecettes[4].nomr}}</span><span ng-show="repaspresent4" class="glyphicon glyphicon-pencil" ng-click="open(4)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent4 = 0" ng-model="repaspresent4" ng-options="values.indexOf(repaspresent4) as repaspresent4 for repaspresent4 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent5">{{planningrecettes[5].nomr}}</span><span ng-show="repaspresent5" class="glyphicon glyphicon-pencil" ng-click="open(5)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent5 = 0" ng-model="repaspresent5" ng-options="values.indexOf(repaspresent5) as repaspresent5 for repaspresent5 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent6">{{planningrecettes[6].nomr}}</span><span ng-show="repaspresent6" class="glyphicon glyphicon-pencil" ng-click="open(6)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent6 = 0" ng-model="repaspresent6" ng-options="values.indexOf(repaspresent6) as repaspresent6 for repaspresent6 in values"></select>  personnes
          </td>
                  </tr>

        <tr>
                  <th>soir</th>    
          <td>
          <span ng-show="repaspresent7">{{planningrecettes[7].nomr}}</span><span ng-show="repaspresent7" class="glyphicon glyphicon-pencil" ng-click="open(7)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent7 = 0" ng-model="repaspresent7" ng-options="values.indexOf(repaspresent7) as repaspresent7 for repaspresent7 in values"></select>  personnes
          </td>


   
          <td>
          <span ng-show="repaspresent8">{{planningrecettes[8].nomr}}</span><span ng-show="repaspresent8" class="glyphicon glyphicon-pencil" ng-click="open(8)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent8 = 0" ng-model="repaspresent8" ng-options="values.indexOf(repaspresent8) as repaspresent8 for repaspresent8 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent9">{{planningrecettes[9].nomr}}</span><span ng-show="repaspresent9" class="glyphicon glyphicon-pencil" ng-click="open(9)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent9 = 0" ng-model="repaspresent9" ng-options="values.indexOf(repaspresent9) as repaspresent9 for repaspresent9 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent10">{{planningrecettes[10].nomr}}</span><span ng-show="repaspresent10" class="glyphicon glyphicon-pencil" ng-click="open(10)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent10 = 0" ng-model="repaspresent10" ng-options="values.indexOf(repaspresent10) as repaspresent10 for repaspresent10 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent11">{{planningrecettes[11].nomr}}</span><span ng-show="repaspresent11" class="glyphicon glyphicon-pencil" ng-click="open(11)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent11 = 0" ng-model="repaspresent11" ng-options="values.indexOf(repaspresent11) as repaspresent11 for repaspresent11 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent12">{{planningrecettes[12].nomr}}</span><span ng-show="repaspresent12" class="glyphicon glyphicon-pencil" ng-click="open(12)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent12 = 0" ng-model="repaspresent12" ng-options="values.indexOf(repaspresent12) as repaspresent12 for repaspresent12 in values"></select>  personnes
          </td>
          <td>
          <span ng-show="repaspresent13">{{planningrecettes[13].nomr}}</span><span ng-show="repaspresent13" class="glyphicon glyphicon-pencil" ng-click="open(13)"></span>
           <br> pour 
            <select class="form-control" ng-init="repaspresent13 = 0" ng-model="repaspresent13" ng-options="values.indexOf(repaspresent13) as repaspresent13 for repaspresent13 in values"></select>  personnes
          </td>

        </tr>        
      </table>
     

      <button type="submit" class="btn btn-primary"> valider planning et le nombre de personne </button>
            </form>
          
        <button ng-click=genererliste() class="btn btn-primary"> générer liste la liste de courses</button>
       
  

      <br>          <h1 ng-show="coucou">Liste de course</h1>  
      <div ng-show="coucou" ng-repeat="(key, items) in donnees | groupBy :'idingredientdispo' ">  
   volume : {{getVolumeSum(items)}} {{items[0].unite}} - {{items[0].nomi}} - rayon: {{items[0].rayon}} 
      </div>


     
     </script>










          <!-- Modal -->
 

          <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Changement de repas: {{planningrecettes[k].nomr}} </h3>

              </div>
             

               <!--  <form name = "addFriendForm">
                <input ng-model = "planningrecettes[0].nomr" class="form-control" type = "text" placeholder="Nom de recette" title=" Username" />
              </form>  -->
              
              <form name = "addFriendForm">
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>

                            <input type="text" class="form-control" placeholder="Rechercher recette" ng-model="rechercheRecette">

                          </div>      
                        </div>
                      </form>
                      <table class="table"> 
                      <tr>
                        <td> Nom de la recette </td>
                        <td> temps de cuisson </td>
                        <td> temps de préparation </td>
                        <td>  </td>
                      <tr ng-repeat="recette in recettes | orderBy :'nomr' | filter:rechercheRecette">
                        <td>{{recette.nomr}}</a></td>
                        <td>{{recette.tempsdecuisson}}</td>
                        <td>{{recette.tempsdepreparation}}</td>
                        <td> 
                          <span class="glyphicon glyphicon-plus" ng-click="ok(recette)"></span>
                         </td>
                      </tr>
                    </table>  







              <div class="modal-footer">

                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>






          </script>




<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Food Planner</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>






<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Food Planner</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>















<script type="text/ng-template" id="/index.html">
  

<!-- first section - Home -->
  <div id="home" class="home">

    <div class="text-vcenter"><br><br><br><br>
      <h1>"On dîne quoi ce soir?"</h1><br>
      <br><br><br>
      <h3><em>pour vous - par vous - équilibré - économique</em></h3><br><br><br>
      <a href="/#home" class="btn btn-success btn-lg">Continue</a>
        <input type="filepicker" data-fp-apikey="AP8r820JEQiqGqRVOddP0z" onchange="console.log(event.fpfile)">

      <br><br><br><br><br>

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval1">
          <slide ng-repeat="slide1 in slides1" active="slide1.active">
            <img ng-src="{{slide1.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval2">
          <slide ng-repeat="slide2 in slides2" active="slide2.active">
            <img ng-src="{{slide2.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval3">
          <slide ng-repeat="slide3 in slides3" active="slide3.active">
            <img ng-src="{{slide3.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>  

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval4">
          <slide ng-repeat="slide4 in slides4" active="slide4.active">
            <img ng-src="{{slide4.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>        
    </div>
  </div>
      

<!-- third section - Services -->
  <div id="services" class="pad-section">
    <div class="container">
    <h2 class="text-center">"On dine quoi", qu'est ce que c'est?</h2> <hr />
      <div class="row text-center">
        <div class="col-sm-4 col-xs-6">
          <i class="glyphicon glyphicon-calendar"> </i>
          <h4>Planning de repas</h4>
          <p>L'application répond à la question fatidique: "qu'est-ce qu'on mange ce soir?" en plannifiant vos repas de la semaine</p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <i class="glyphicon glyphicon-th-list"> </i>
          <h4>Liste des courses</h4>
          <p>Finit le gachi et les heures perdues dans les rayons du supermarcher avec la liste des courses automatique</p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <i class="glyphicon glyphicon-hand-up"> </i>
          <h4>C'est vous le chef</h4>
          <p>Ajouter vos propres recettes, ingredients, ... selon vos envies!</p>
        </div>
      </div>
    </div>
  </div>
<!-- /third section -->

<!-- second section - About -->
  <div id="about" class="pad-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/planning.jpg" alt="" />
        </div>
        <div class="col-sm-6 ">
          <h2 class ="text-center">Grace à "On dine quoi?"...</h2>
          <p class="lead">
          - Plus de prise de tête: plannifier vos repas et ne soyez jamais a cours d'idée. <br>
          - Plus de gâchi: prévoyer les bonnes quantités de chaque aliments, nous plannifions pour vous les repas en fonction de leur date de péremption.<br>
          - Des repas équilibré: l'application calcule pour vous l'apport moyen des repas sur la semaine. Choisissez vous même.<br>
          - Personalisez a l'infinie: àjouter vos recettes, changez l'ordre du planning, choisissez vos quantités: l'application se configure au plus près de vos besoin.<br>
          - Quelques soit vos préférences alimentaires: vous êtes plutôt veggie? halal? sans gluten? gourmand? C'est vous qui décidez! <br></p>
        </div>
      </div>
    </div>
  </div>
<!-- /second section -->


<!-- /footer -->
</script>




<footer>
  <hr />
  <div class="container">
    <p class="text-right">Copyright &copy; On dîne quoi? 2017</p>
  </div>
</footer>



  </body>
</html>