/* general styles */
html, body {
height: 100%;
width: 100%;
}
/* padded section */
.pad-section {
padding: 50px 0;
}
.pad-section img {
width: 100%;
}
/* vertical-centered text */
.text-vcenter {
display: table-cell;
text-align: center;
vertical-align: middle;
color: #ffffff;
}
.text-vcenter h1 {
font-size: 4.5em;
font-weight: 700;
margin: 0;
padding: 0;
}
/* additional sections */
#home {
background: url(../images/home.jpg) no-repeat center center fixed; 
display: table;
height: 100%;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* modals */
.fade.in {
    opacity: 1;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}



/* colors */



.dark-primary-color    { background: #C2185B; }
.default-primary-color { background: #E91E63; }
.light-primary-color   { background: #F8BBD0; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


#footer {
background-color: #FFC107;
color: #212121;
}

#services {
color: #ffffff;
}
#about {
background-color: #ffffff;
color: #212121;
}
#services .glyphicon {
border: 2px solid #FFFFFF;
border-radius: 50%;
display: inline-block;
font-size: 60px;
height: 140px;
line-height: 140px;
text-align: center;
vertical-align: middle;
width: 140px;
}
#information {
background: url(../images/estate.jpg) no-repeat center center fixed; 
display: table;
height: 800px;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#information .panel {
opacity: 0.85;
}
#google_map {
height: 500px;
}
footer {
padding: 20px 0;
}
footer .glyphicon {
color: #333333;
font-size: 60px;
}
footer .glyphicon:hover {
color: #306d9f;
}



.thumbnailperso{
    width: 260px;
    height: 140px;
    margin: 0 auto;
}
.thumbnailperso2{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.photodescriptionrecette{
    width: 390px;
    height: 210px;
}

/* autocomplete au premier plan dans modal */
.md-virtual-repeat-container{
  z-index:10000 !important;
  position: absolute !important;
}