<html>
<!-- first section - Home -->
  <div id="home" class="home">

    <div class="text-vcenter"><br><br><br><br><br><br>
      <h1>"On dîne quoi ce soir?"</h1><br>
      <br><br><br><br><br>
      <h3><em>pour vous - par vous - équilibré - économique</em></h3><br><br><br><br><br><br><br>
      <a href="/#planning" class="btn btn-success btn-lg">Continue</a>

      <br><br><br><br><br><br><br><br>
<!-- 
      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval1">
          <slide ng-repeat="slide1 in slides1" active="slide1.active">
            <img ng-src="{{slide1.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval2">
          <slide ng-repeat="slide2 in slides2" active="slide2.active">
            <img ng-src="{{slide2.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval3">
          <slide ng-repeat="slide3 in slides3" active="slide3.active">
            <img ng-src="{{slide3.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>  

      <div class="col-sm-3 col-xs-6">
        <carousel interval="myInterval4">
          <slide ng-repeat="slide4 in slides4" active="slide4.active">
            <img ng-src="{{slide4.image}}">
            <div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>
          </slide>
        </carousel>
      </div>        
    </div>
  </div>
      -->

<!-- third section - Services -->
  <div id="services" class="pad-section">
    <div class="container">
    <h2 class="text-center">"On dine quoi", qu'est ce que c'est?</h2> <hr />
      <div class="row text-center">
        <div class="col-sm-4 col-xs-6">
          <i class="fa fa-calendar-check-o fa-3x"> </i>
          <h4>Planning de repas</h4>
          <p>L'application répond à la question fatidique: "qu'est-ce qu'on mange ce soir?" en plannifiant vos repas de la semaine</p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <i class="fa fa-list fa-3x"> </i>
          <h4>Liste des courses</h4>
          <p>Finit le gachi et les heures perdues dans les rayons du supermarcher avec la liste des courses automatique</p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <i class="fa fa-hand-peace-o fa-3x"> </i>
          <h4>C'est vous le chef</h4>
          <p>Ajouter vos propres recettes, ingredients, ... selon vos envies!</p>
        </div>
      </div>
    </div>
  </div>
<!-- /third section -->

<!-- second section - About -->
  <div id="about" class="pad-section">
    <div class="container">
      <div class ="text-left">

          <h2 >Grace à "On dine quoi?"...</h2> <br>

          <h3>- Plus de prise de tête: </h3> plannifier vos repas et ne soyez jamais a cours d'idée. <br>
          <h3>- Plus de gâchi:</h3> prévoyer les bonnes quantités de chaque aliments, nous plannifions pour vous les repas en fonction de leur date de péremption.<br>
          <h3>- Des repas équilibré:</h3> l'application calcule pour vous l'apport moyen des repas sur la semaine. Choisissez vous même.<br>
          <h3>- Personalisez a l'infinie:</h3> àjouter vos recettes, changez l'ordre du planning, choisissez vos quantités: l'application se configure au plus près de vos besoin.<br>
          <h3>- Quelques soit vos préférences alimentaires:</h3> vous êtes plutôt veggie? halal? sans gluten? gourmand? C'est vous qui décidez! <br></p>

      </div>
    </div>
  </div>
<!-- /second section -->
</html>